.App {
  text-align: center;
  min-height: 100vh;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 7vmin;

  }

  .App-header {
    background-color: #282c34;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: $custom;
  }

  .nav {
    display: flex;
    justify-content: space-around;
    width: 25%;

    a {
      color: darkorange;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .App-main {
    height: 80vh;
    padding: 5vh;
  }
}
